body {
    width: 99%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-image: linear-gradient(60deg, #171010 0%, #362222 100%);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/* =================== NAVIGATION ===================== */

nav {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    color: #EEEEEE;
}

nav ul {
    list-style: none;
}

nav img {
    width: 4rem;
    border-radius: 5px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navLinks {
    text-transform: uppercase;
    margin: 0.5rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    transition: 0.25s ease-out;
}

.navLinks:first-child {
    margin-right: auto;
    margin-left: 0;
}